{% load i18n %}
{% for complaint in complaints %}
    <a 
        class="choice" 
        href="{{ complaint.get_absolute_url }}"
        title="{{ complaint }}">{{ complaint }}</a>
{% endfor %}

{% for action in actions %}
    <a 
        class="choice" 
        href="{{ action.get_absolute_url }}"
        title="{{ action }}">{{ action }}</a>
{% endfor %}

{% for tag in tags %}
    <a 
        class="choice" 
        href="{% url 'complaints_complaint_list' 'all' 'all' 'all' tag.name 'all' %}"
        title="{{ tag.name }}">{{ tag.name }}</a>
{% endfor %}
