{% load i18n %}

{% for object in object_list %}
<div class="row">
    <h2><a 
            href="{{ object.get_absolute_url }}"
            title="{{ object }}">{{ object }}</a></h2>

    <p>{{ object.description }}</p>

    {% if object.city %}
    <p>
        <a href="{% url 'complaints_complaint_list' object.complaint.city.region.country.slug object.complaint.city.region.slug object.complaint.city.slug 'all' %}">{{ object.complaint.city }}</a>
    </p>
    {% endif %}

    {% include 'complaints/_tags.html' with tag_list=object.tags.all %}
    {% include 'decision/_poll_vote.html' %}
</tr>
</div>
{% endfor %}
