{% load i18n %}
{% load thumbnail %}

{% for object in object_list %}
<div class="row">
    <h2><a 
            href="{{ object.get_absolute_url }}"
            title="{{ object }}">{{ object }}</a></h2>

    {% if object.photo %}
        <img class="complaint-photo" src="{{ object.photo|thumbnail_url:'rectangle_0' }}" />
    {% endif %}
    
    <div>
        {% include 'decision/_poll_vote.html' %}

        {% if object.city %}
        <p>
            <a href="{% url 'complaints_complaint_list' object.city.region.country.slug object.city.region.slug object.city.slug 'all' %}">{{ object.city }}</a>
        </p>
        {% endif %}

        {% include 'complaints/_tags.html' with tag_list=object.tags.all %}

        <p>{{ object.description }}</p>
    </div>
</div>
{% endfor %}
