{% extends 'complaints/base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumbs"> 
    <li>
        <a href="/">{% trans 'Home' %}</a>
    </li> 
    <li>
        <a href="{% url 'complaints_complaint_list' 'all' 'all' 'all' 'all' %}" title="{% trans 'Complaints' %}">{% trans 'Complaints' %}</a>
    </li>
    {% if country %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug 'all' 'all' 'all' %}">{{ country.name }}</a>
    </li>
    {% endif %}
    {% if region %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug region.slug 'all' 'all' %}">{{ region.name }}</a>
    </li>
    {% endif %}
    {% if city %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug region.slug city.slug 'all' %}">{{ city.name }}</a>
    </li>
    {% endif %}
    {% if tag and city %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug region.slug city.slug tag %}">{{ tag }}</a>
    </li>
    {% elif tag and region %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug region.slug 'all' tag %}">{{ tag }}</a>
    </li>
    {% elif tag and country %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug 'all' 'all' tag %}">{{ tag }}</a>
    </li>
    {% elif tag %}
    <li>
        <a href="{% url 'complaints_complaint_list' 'all' 'all' 'all' tag %}">{{ tag }}</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block body %}
    <div class="row">
        <h1>{% trans 'Complaints reported' %}</h1>
    </div>

    {% include 'complaints/_complaint_table.html' %}
{% endblock %}
