{% extends 'complaints/base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<ul class="breadcrumbs"> 
    <li>
        <a href="/">{% trans 'Home' %}</a>
    </li> 
    <li>
        <a href="{% url 'complaints_complaint_list' 'all' 'all' 'all' 'all' %}" title="{% trans 'Complaints' %}">{% trans 'Complaints' %}</a>
    </li>
    {% if country %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug 'all' 'all' 'all' %}">{{ country.name }}</a>
    </li>
    {% endif %}
    {% if region %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug region.slug 'all' 'all' %}">{{ region.name }}</a>
    </li>
    {% endif %}
    {% if city %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug region.slug city.slug 'all' %}">{{ city.name }}</a>
    </li>
    {% endif %}
    {% if tag and city %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug region.slug city.slug tag %}">{{ tag }}</a>
    </li>
    {% elif tag and region %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug region.slug 'all' tag %}">{{ tag }}</a>
    </li>
    {% elif tag and country %}
    <li>
        <a href="{% url 'complaints_complaint_list' country.slug 'all' 'all' tag %}">{{ tag }}</a>
    </li>
    {% elif tag %}
    <li>
        <a href="{% url 'complaints_complaint_list' 'all' 'all' 'all' tag %}">{{ tag }}</a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block body %}
    <div class="row">
        <h1>{% trans 'Complaints reported' %}</h1>

    </div>

    {% include 'complaints/_complaint_table.html' with object_list=page_obj.object_list %}

    {% if paginator.num_pages > 1 %}
    <div class="pagination-centered"> 
        <ul class="pagination"> 
            {% if page_obj.has_previous %}
            <li class="arrow unavailable">
                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">&laquo;</a>
            </li> 
            {% endif %}
            {% for page in paginator.page_range %}
            <li class="{% if page == page_obj.number %}current{% endif %}">
                <a href="{{ request.path }}?page={{ page }}">{{ page }}</a>
            </li> 
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="arrow">
                <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">&raquo;</a>
            </li> 
            {% endif %}
        </ul> 
    </div>
    {% endif %}
{% endblock %}
