{% extends 'complaints/base.html' %}
{% load i18n crispy_forms_tags %}
{% load comments %}
{% load thumbnail %}

{% block breadcrumbs %}
<ul class="breadcrumbs"> 
    <li>
        <a href="/">{% trans 'Home' %}</a>
    </li> 
    <li>
        <a href="{% url 'complaints_complaint_list' 'all' 'all' 'all' 'all' %}" title="{% trans 'Complaints' %}">{% trans 'Complaints' %}</a>
    </li>
    {% if object.city %}
    <li>
        <a href="{% url 'complaints_complaint_list' object.city.region.country.slug 'all' 'all' 'all' %}">{{ object.city.region.country.name }}</a>
    </li>
    <li>
        <a href="{% url 'complaints_complaint_list' object.city.region.country.slug object.city.region.slug 'all' 'all' %}">{{ object.city.region.name }}</a>
    </li>
    <li>
        <a href="{% url 'complaints_complaint_list' object.city.region.country.slug object.city.region.slug object.city.slug 'all' %}">{{ object.city.name }}</a>
    </li>
    {% endif %}
    <li>
        <a class="current">{{ object }}</a>
    </li>
</ul>
{% endblock %}

{% block extra_head %}
<style type="text/css">
#div_id_complaint {
    display: none;
}

.comment-wrapper img {
    float: left;
    margin-right: .5em;
}
</style>
{% endblock %}

{% block body %}
<div class="row">
    <h1>{{ object }}</h1>
</div>

<div class="row">
    {% if object.photo %}
        <img class="complaint-photo" src="{{ object.photo|thumbnail_url:'rectangle_0' }}" />
    {% endif %}

    {% include 'decision/_poll_vote.html' %}

    {% if object.city %}
    <p>
    <a 
        href="{% url 'complaints_complaint_list' object.city.region.country.slug object.city.region.slug object.city.slug 'all' %}"
        title="{% blocktrans with city=object.city %}Complaints reported in {{ city }}{% endblocktrans %}"
        >{{ object.city }}</a>
    </p>
    {% endif %}

    {% include 'complaints/_tags.html' with tag_list=object.tags.all %}

    <p>
        {{ object.description }}
    </p>
</div>

<div class="row">
    <div class="large-6 columns">
        <h2>{% trans 'Actions' %}</h2>

        {% include 'complaints/_action_table.html' with object_list=object.actions.all %}

        {% crispy action_form %}
    </div>

    <div class="large-6 columns">
        {% get_comment_count for object as comments_count %}

        <div id="comments-wrapper">
          {% if comments_count %}
          <h3 class="has-comments-title">{% blocktrans with entry_title=object count comments_count=comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} comments{% endblocktrans %}</h3>
            {% render_comment_list for object %}

          {% else %}
              <h3 class="no-comments-title">{% trans "Leave a comment" %}</h3>

              {# include the empty list, so the <div> is there for Ajax code #}
              {% render_comment_list for object %}
          {% endif %}
        </div>

        <div id="comments-form-wrapper">
          {% render_comment_form for object %}
        </div>
    </div>
</div>
{% endblock %}
